<div class = "container-sm"><br>
  <h1>Blogs</h1><br>

    <%= link_to "Create New Blog", new_article_path, class: "btn btn-primary" %>
    <br><br>
    <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Author</th>
        </tr>
      
          <% @articles.each do |article| %>
        <tr>
            <th>
                <%= link_to article.title, article, class: "link" %>
            </th>
            <th>
                <%= link_to article.author, article, class: "link" %>
            </th>
        </tr>
          <% end %>
    </table>

</div>
